<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "icon" type = "image/png" href = "../images/icons8-eyes-cartoon-24.png">
    <!-- For apple devices -->
    <link rel = "apple-touch-icon" type = "image/png" href = "../images/icons8-eyes-cartoon-24.png"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Awake</title>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav style="background-color:#74C080;">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><img src="../images/icons8-eyes-cartoon-64.png" alt="logo icon" style="padding-left:15px;"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="badges.html">GITHUB</a></li>
            <li><a href="collapsible.html">ABOUT</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <br>
    <br>
    <h3 class="header center" style="color:#4E535A;">KEEP YOUR HEROKU FREE APP AWAKE</h3>
    <br>
    <br>

    <div class="row center">
      <h5 class="header col s12 light"><span style="color:#79589F;font-weight:bold;">Awake</span> won't let your free Heroku app to sleep by making automatic requests every 30 minutes.</h5>
    </div>
<br>
<br>
<br>
    <!-- Form -->
    <div class="row valign-wrapper">
      <form class="col s8 valign" id="apptime">
        <div class="row">
          <div class="input-field col s5">
            <i class="material-icons prefix" style="font-size:34px;">link</i>
            <input id="url" type="url" class="validate" name="query">
            <label for="url">Heroku App URL</label>
          </div>
          <div class="input-field col s1">
            <input id="timepicker" type="time" value="00:00">
            <label for="timepicker">Time</label>
          </div>
        </div>
      </form>
  </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light btn-large" type="submit" name="time" form="apptime" style="background-color:#74C080;">Keep My App Awake
      <i class="material-icons right">send</i>
      </button>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
